<nav>
    <div class="site-title">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/new-blog">New Blog</a></li>
        </ul>
    </div>
</nav>