<nav>
    <div class="site-title">
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs-new">New Blog</a></li>
        </ul>
    </div>
</nav>