<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')  %>
<body>
    <%- include('partials/nav.ejs')  %>
    <div class="newblog-container">
        <label>Title</label>
        <input type="text" class="newblog"></input>
        <label>Snippet</label>
        <input type="text" class="newblog"></input>
        <label>Body</label>
        <input type="text" class="newblog"></input>
        <button class="newblog-btn">Submit</button>
    </div>
</body>
</html>