<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')  %>
<body>
    <%- include('partials/nav.ejs')  %>
    <label>Title</label>
    <input type="text" class="newblog"></input>
</body>
</html>