body {
    align-items: center;
}

h1, h2, h3 {
    color: black;
}

body {
    background-color: rgb(151, 191, 191);
}

/* CREATE BLOG PAGE */
.newblog-form {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
}

.newblog {
    background-color: rgb(151, 191, 191);
    border: 1px solid white;
    height: 25px;
}

.newblog-btn {
    border: none;
    padding: 5px 0px 5px 0px;
    background-color: rgb(96, 191, 191);
    width: 25%;
    margin: 10px auto 0px auto;
}

.newblog-btn:hover {
    border: 1px solid white;
}

.single {
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid rgb(4, 4, 149);
}

.title:hover {
    color: rgb(4, 4, 149);
}

a {
    text-decoration: none;
}